/* Define global colors */

:root {
  --primary: #00BFB4;
  --secondary:#001716;
  --light: #F2F2F2;
  --black: #494949;
  --grey: #CBCBCB;
  --text:#515151;
  --hover:#008B83;
  --seperator: #00312E;
  --black-high:#000000;
  --black-low:#929292;
  --primary-light:#D0FFFC;
}

p, span, label, input, sup, sub, textarea, select, a, ul, ol, li, small, strong, th, td, tr, u{
  font-family: 'Poppins', sans-serif!important;
}

h1, h2, h3, h4, h5, h6, button{
  font-family: 'Montserrat', sans-serif!important;
}