/* Define global colors */

:root {
  --primary: #00BFB4;
  --secondary:#001716;
  --light: #F2F2F2;
  --black: #494949;
  --grey: #CBCBCB;
  --text:#515151;
  --hover:#008B83;
  --seperator: #00312E;
  --black-high:#000000;
  --black-low:#929292;
  --primary-light:#D0FFFC;
}

p, span, label, input, sup, sub, textarea, select, a, ul, ol, li, small, strong, th, td, tr, u{
  font-family: 'Poppins', sans-serif!important;
}

h1, h2, h3, h4, h5, h6, button{
  font-family: 'Montserrat', sans-serif!important;
}

.cursor-pointer{
  cursor: pointer;
}

.w-fit{
  width: fit-content;
}

.primary-text{
  color: var(--primary);
  font-weight: 400;
  font-size: 14px;
}

.desc-text{
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
}

.primary-hover-text{
  color: var(--primary);
  font-weight: 400;
  font-size: 14px;
  transition: all ease-in-out 300ms;
}

.primary-hover-text:hover{
  color: var(--hover);
}


/* custom */

.p-multiselect{
  width: 100%;
}

.primary-btn{
  color: white!important;
  background-color: var(--primary);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}

.primary-btn:hover{
  background-color: var(--hover);
}

/* --------------------------pra css-------------------- */
.form-row
{
  margin-bottom: 1rem;
}
.form-input
{
  
  padding: 9px 12px 9px 12px;
  border-radius: 4px;
  border: 1px solid #A7A29E!important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #A7A29E;
  height: 42px;
  border-radius: 3px!important;
}
.p-inputtext:enabled:focus
{
  box-shadow: none!important;
}
.form-row label
{

font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #A7A29E!important;

}
:focus-visible {
  outline: none;
}

.form-select:focus
{
  box-shadow: none;
}

.form-row .p-multiselect .p-multiselect-label
{
  padding: 0!important;
}



.common-location-btn.form-input
{
  background: #00BFB4;
    color: #fff;
    width: 100%;
    border-color: #00bfb4!important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
   
}
.common-location-btn.form-input:hover{
   background: #008b83; 
}